# -------------------------
# Miscellaneous / System
# -------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
*.env

# -------------------------
# IDEs / Editors
# -------------------------
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Atom
.atom/

# -------------------------
# Flutter / Dart
# -------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# -------------------------
# Android
# -------------------------
android/.gradle/
android/app/build/
*.apk
*.keystore

# -------------------------
# iOS
# -------------------------
ios/Pods/
ios/Runner.xcworkspace/
ios/DerivedData/

# -------------------------
# Golang / Backend
# -------------------------
backend/bin/
backend/vendor/
*.exe
*.test
*.log
backend/serviceAccount.json
